@media screen and (min-width:1075px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
    #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
            }
        }

    .center {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        }
    .one{
        background: url("./one.jpg");
        background-size:cover;
        width: 100vw;
        height: 100vh;
        opacity: 0.80;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .one p{
        background: rgb(37, 37, 37);
        color: white;
        padding:20px;
        font-size:5rem;
    }
    .two p{
        background: rgb(37, 37, 37);
        color: white;
        padding:10px;
        font-size:3rem;
    }
    .three p{
        background: rgb(37, 37, 37);
        color: white;
        padding:10px;
        font-size:3rem;
    }
    .one-txt{
        height: 60vh;
        padding:15px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .one-txt h1{
        text-align: center;
        font-size: 2rem;
    }
    .one-txt p{
        text-align: center;
        font-size: 1.8rem;
        padding: 20px;
    }
    .two{
        background: url("./two.jpg");
        background-size:cover;
        width: 100vw;
        height: 50vh;
        opacity: 0.80;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .two-txt{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
        background: rgb(43, 43, 43);
    }
    .two-txt div{
        background: white;
        height: 50vh;
        width:350px;
        justify-content:center;
        box-shadow: 1px 1px 5px grey;
    }
    .two-txt div h1, p{
        text-align: center;
        padding: 20px;
    }
    .three{
        background: url("./three.jpg");
        background-size:cover;
        width: 100vw;
        height: 50vh;
        opacity: 0.80;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .grid{
        display:grid;
        grid-template-columns: auto auto auto;
        padding: 0 30vh;
        height: 80vh;
        width: 100vw;
        background: rgb(43, 43, 43);
    }
    .grid div{
        background: white;
        margin: 10px;
    }
    .grid-one{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .grid-five{
        grid-column: 2/4;
    }
    .grid div img{
        width: 100%;
        height: 100%;
    }
    .grid div{
        overflow: hidden;
    }
    .four{
        background: url("./four.jpg");
        background-size:cover;
        width: 100vw;
        height: 40vh;
        opacity: 0.80;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .contact-and-about{
        display: grid;
        grid-template-columns: auto auto;
        height: 40vh;
    }
    .contact{
        background: rgb(26, 26, 26);
    }
    .about h1{
        text-align: center;
        padding: 20px;
    }
    .about p{
        text-align: center;
        padding: 20px;
    }
    .contact h1{
        text-align: center;
        padding: 20px;
        color: white;
    }
    .contact p{
        text-align: center;
        padding: 20px;
        color: white;
    }
    footer{
        display:flex;
        justify-content:center;
        align-items:center;
        color: white;
        background: black;
        height:12vh;
        font-size:20px
    }
}
